.login-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.login-container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px; 
    text-align: center;
}

.login-field {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10px;
}

.login-buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;

    button {
        width: 100px;
        border-radius: 10px;
        margin: 5px;
    }
}