.home-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.contact-bar {
    width: 8%;
    padding: 10px;
    min-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.options-ribbon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 3%;
    min-width: 60px;
    border-radius: 0 10px 10px 0;
    background-color: firebrick;
    
    .ribbon-button {
        background-color: white;
        margin: 10px;
    }
}

.chat-panel {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}