.chat-panel-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: whitesmoke;
}

.chat-panel-header {
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  border-bottom: 2px solid firebrick;
  z-index: 1;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0 10px 0 10px;
  gap: 5px; // make sure we can scroll through messages

  .sent {
    align-self: flex-end;
  }

  .received {
    align-self: flex-start;
  }
}

.chat-text-bar {
  padding: 10px;
  background-color: firebrick;
  align-items: center;

  #textInput {
    width: 100%;
    border-radius: 50px 0 0 50px;
    border: none;
    padding-left: 10px;
    height: 30px;
  }

  .chat-button {
    background-color: gray;
    border: none;
    border-radius: 0 50px 50px 0;
  }
}

.chat-input-container {
  display: flex;
  flex-flow: row nowrap;
}