<div class="chat-panel-wrapper">
    @if (isLoadingChatPanel) {
    <div class="spinner-container">
        <mat-spinner />
    </div>
    } @else {
    <div class="chat-panel-header">
        <h1 id="contact-name">{{ selectedContact()?.username }}</h1>
    </div>

    <div class="chat-wrapper">

        @for (msg of currentChat()?.messages; track msg.id) {
        <app-chat-bubble class="{{ msg.isSent ? 'sent' : 'received' }}" [message]="msg.text"
            [type]="msg.isSent ? 'sent' : 'received'" [timestamp]="msg.timestamp" />
        }
    </div>

    <div class="chat-text-bar">
        <div class="chat-input-container">
            <input type="text" id="textInput" [formControl]="messageInputControl" (keydown.enter)="sendMessage()" autocomplete="off">
            <button (click)="sendMessage()" class="chat-button"><mat-icon fontIcon="sos" /></button>
        </div>
    </div>
    }
</div>