div {
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.sent {
  background-color: white;
  color: black;
  align-self: flex-end;
}

.received {
  background-color: firebrick;
  color: white;
  align-self: flex-start;
}
