.chat-bubble {
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.sent {
  background-color: white;
  color: black;
  border-radius: 8px 8px 0 8px;
}

.received {
  background-color: firebrick;
  color: white;
  border-radius: 8px 8px 8px 0;
}
